@model BoardgameManager.ViewModels.BoardgamesController.DetailsBoardgameViewModel

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<div class="container">

    <div class="tab-content">

        <div class="tab-pane fade in active">
            <div class="col-sm-6">
                <div class="row">

                    <table class="view-table">
                        <tbody>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.BoardGameType)</th>
                                <td>@Html.DisplayFor(model => model.BoardGameType.Name)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.MinAge)</th>
                                <td>@Html.DisplayFor(model => model.MinAge)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
                                <td>@Html.DisplayFor(model => model.ReleaseDate)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Change Log</h3>
                        </div>
                        <div class="panel-body">
                            <table class="view-table-compact">
                                <tbody>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                                        <td>@Html.DisplayFor(model => model.CreatedDate, "DateRow")</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                                        <td>@Html.DisplayFor(model => model.CreatedBy, "DateRow")</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.ModifiedDate)</th>
                                        <td>@Html.DisplayFor(model => model.ModifiedDate, "DateRow")</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                                        <td>@Html.DisplayFor(model => model.ModifiedBy, "DateRow")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Last calls</h3>
                        </div>
                        <div class="panel-body">
                            <table class="view-table-compact">
                                <tbody>
                                    <tr>
                                        <th>Type</th>
                                        <th>Date</th>
                                    </tr>
                                    @foreach (var item in Model.BoardgameCalls.OrderByDescending(x => x.CallDate).Take(10))
                                    {
                                        <tr>
                                            <td>@item.CallTypeFormatted</td>
                                            <td>@item.CallDateFormatted</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

           
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index", "Home")
        </p>
